ERPIntegrationWebService/Service References/ERPIntegrationWSReference/ERPIntegrationWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://brokerapplication.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://brokerapplication.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://brokerapplication.org/">
      <s:element name="InsertEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEmployeeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmployeeResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployeeResponse">
        <s:complexType />
      </s:element>
      <s:element name="showAllEmployees">
        <s:complexType />
      </s:element>
      <s:element name="showAllEmployeesResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeAndMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeAndMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeAndMetaDataResult" type="tns:ArrayOfSysObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSysObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SysObject" nillable="true" type="tns:SysObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SysObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Xtype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeeAndRelatives">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeAndRelativesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeAndRelativesResult" type="tns:ArrayOfEmpRelativeQuery" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmpRelativeQuery">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EmpRelativeQuery" nillable="true" type="tns:EmpRelativeQuery" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmpRelativeQuery">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RelFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RelativeCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSickEmployee">
        <s:complexType />
      </s:element>
      <s:element name="GetSickEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSickEmployeeResult" type="tns:ArrayOfEmpSick" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmpSick">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EmpSick" nillable="true" type="tns:EmpSick" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmpSick">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CasueOfAbsenceCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMostSickEmployee">
        <s:complexType />
      </s:element>
      <s:element name="GetMostSickEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMostSickEmployeeResult" type="tns:ArrayOfEmpSick" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllKeys">
        <s:complexType />
      </s:element>
      <s:element name="GetAllKeysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllKeysResult" type="tns:ArrayOfSysObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllIndexes">
        <s:complexType />
      </s:element>
      <s:element name="GetAllIndexesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllIndexesResult" type="tns:ArrayOfSysIndex" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSysIndex">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SysIndex" nillable="true" type="tns:SysIndex" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SysIndex">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllConstraints">
        <s:complexType />
      </s:element>
      <s:element name="GetAllConstraintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllConstraintsResult" type="tns:ArrayOfSysConstraint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSysConstraint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SysConstraint" nillable="true" type="tns:SysConstraint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SysConstraint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Constid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllTables">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTablesResult" type="tns:ArrayOfSysObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTables2">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTables2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTables2Result" type="tns:ArrayOfSysTable" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSysTable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SysTable" nillable="true" type="tns:SysTable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SysTable">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetColumnsEmployee">
        <s:complexType />
      </s:element>
      <s:element name="GetColumnsEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetColumnsEmployeeResult" type="tns:ArrayOfSysColumn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSysColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SysColumn" nillable="true" type="tns:SysColumn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SysColumn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Xtype" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetColumnsEmployee2">
        <s:complexType />
      </s:element>
      <s:element name="GetColumnsEmployee2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetColumnsEmployee2Result" type="tns:ArrayOfInformation_Schema_Column" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInformation_Schema_Column">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Information_Schema_Column" nillable="true" type="tns:Information_Schema_Column" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Information_Schema_Column">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="COLUMN_NAME1" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEmployee" />
  </wsdl:message>
  <wsdl:message name="InsertEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="showAllEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:showAllEmployees" />
  </wsdl:message>
  <wsdl:message name="showAllEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:showAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAndMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeAndMetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAndMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeAndMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAndRelativesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeAndRelatives" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAndRelativesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeAndRelativesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSickEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSickEmployee" />
  </wsdl:message>
  <wsdl:message name="GetSickEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSickEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetMostSickEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetMostSickEmployee" />
  </wsdl:message>
  <wsdl:message name="GetMostSickEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetMostSickEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllKeysSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllKeys" />
  </wsdl:message>
  <wsdl:message name="GetAllKeysSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllKeysResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllIndexesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllIndexes" />
  </wsdl:message>
  <wsdl:message name="GetAllIndexesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllConstraintsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllConstraints" />
  </wsdl:message>
  <wsdl:message name="GetAllConstraintsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllConstraintsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTablesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTables" />
  </wsdl:message>
  <wsdl:message name="GetAllTablesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTablesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTables2SoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTables2" />
  </wsdl:message>
  <wsdl:message name="GetAllTables2SoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTables2Response" />
  </wsdl:message>
  <wsdl:message name="GetColumnsEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetColumnsEmployee" />
  </wsdl:message>
  <wsdl:message name="GetColumnsEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetColumnsEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetColumnsEmployee2SoapIn">
    <wsdl:part name="parameters" element="tns:GetColumnsEmployee2" />
  </wsdl:message>
  <wsdl:message name="GetColumnsEmployee2SoapOut">
    <wsdl:part name="parameters" element="tns:GetColumnsEmployee2Response" />
  </wsdl:message>
  <wsdl:portType name="ERPIntegrationWSSoap">
    <wsdl:operation name="InsertEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserts new employee</wsdl:documentation>
      <wsdl:input message="tns:InsertEmployeeSoapIn" />
      <wsdl:output message="tns:InsertEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates employee</wsdl:documentation>
      <wsdl:input message="tns:UpdateEmployeeSoapIn" />
      <wsdl:output message="tns:UpdateEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes employee</wsdl:documentation>
      <wsdl:input message="tns:DeleteEmployeeSoapIn" />
      <wsdl:output message="tns:DeleteEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="showAllEmployees">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows a specific employee</wsdl:documentation>
      <wsdl:input message="tns:showAllEmployeesSoapIn" />
      <wsdl:output message="tns:showAllEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndMetaData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all employees and metadata</wsdl:documentation>
      <wsdl:input message="tns:GetEmployeeAndMetaDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeAndMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndRelatives">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all employees and relatives</wsdl:documentation>
      <wsdl:input message="tns:GetEmployeeAndRelativesSoapIn" />
      <wsdl:output message="tns:GetEmployeeAndRelativesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSickEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all sick employees</wsdl:documentation>
      <wsdl:input message="tns:GetSickEmployeeSoapIn" />
      <wsdl:output message="tns:GetSickEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMostSickEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows most sick employees</wsdl:documentation>
      <wsdl:input message="tns:GetMostSickEmployeeSoapIn" />
      <wsdl:output message="tns:GetMostSickEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllKeys">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all Keys</wsdl:documentation>
      <wsdl:input message="tns:GetAllKeysSoapIn" />
      <wsdl:output message="tns:GetAllKeysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIndexes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all indexes</wsdl:documentation>
      <wsdl:input message="tns:GetAllIndexesSoapIn" />
      <wsdl:output message="tns:GetAllIndexesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllConstraints">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all constraints</wsdl:documentation>
      <wsdl:input message="tns:GetAllConstraintsSoapIn" />
      <wsdl:output message="tns:GetAllConstraintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTables">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all tables solution 1</wsdl:documentation>
      <wsdl:input message="tns:GetAllTablesSoapIn" />
      <wsdl:output message="tns:GetAllTablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTables2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all tables solution 2</wsdl:documentation>
      <wsdl:input message="tns:GetAllTables2SoapIn" />
      <wsdl:output message="tns:GetAllTables2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetColumnsEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all columns in Employee table Solution 1</wsdl:documentation>
      <wsdl:input message="tns:GetColumnsEmployeeSoapIn" />
      <wsdl:output message="tns:GetColumnsEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetColumnsEmployee2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all columns in Employee table Solution 2</wsdl:documentation>
      <wsdl:input message="tns:GetColumnsEmployee2SoapIn" />
      <wsdl:output message="tns:GetColumnsEmployee2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ERPIntegrationWSSoap" type="tns:ERPIntegrationWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEmployee">
      <soap:operation soapAction="http://brokerapplication.org/InsertEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://brokerapplication.org/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://brokerapplication.org/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showAllEmployees">
      <soap:operation soapAction="http://brokerapplication.org/showAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndMetaData">
      <soap:operation soapAction="http://brokerapplication.org/GetEmployeeAndMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndRelatives">
      <soap:operation soapAction="http://brokerapplication.org/GetEmployeeAndRelatives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSickEmployee">
      <soap:operation soapAction="http://brokerapplication.org/GetSickEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostSickEmployee">
      <soap:operation soapAction="http://brokerapplication.org/GetMostSickEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllKeys">
      <soap:operation soapAction="http://brokerapplication.org/GetAllKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIndexes">
      <soap:operation soapAction="http://brokerapplication.org/GetAllIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllConstraints">
      <soap:operation soapAction="http://brokerapplication.org/GetAllConstraints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTables">
      <soap:operation soapAction="http://brokerapplication.org/GetAllTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTables2">
      <soap:operation soapAction="http://brokerapplication.org/GetAllTables2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColumnsEmployee">
      <soap:operation soapAction="http://brokerapplication.org/GetColumnsEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColumnsEmployee2">
      <soap:operation soapAction="http://brokerapplication.org/GetColumnsEmployee2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ERPIntegrationWSSoap12" type="tns:ERPIntegrationWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEmployee">
      <soap12:operation soapAction="http://brokerapplication.org/InsertEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap12:operation soapAction="http://brokerapplication.org/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap12:operation soapAction="http://brokerapplication.org/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showAllEmployees">
      <soap12:operation soapAction="http://brokerapplication.org/showAllEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndMetaData">
      <soap12:operation soapAction="http://brokerapplication.org/GetEmployeeAndMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndRelatives">
      <soap12:operation soapAction="http://brokerapplication.org/GetEmployeeAndRelatives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSickEmployee">
      <soap12:operation soapAction="http://brokerapplication.org/GetSickEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostSickEmployee">
      <soap12:operation soapAction="http://brokerapplication.org/GetMostSickEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllKeys">
      <soap12:operation soapAction="http://brokerapplication.org/GetAllKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIndexes">
      <soap12:operation soapAction="http://brokerapplication.org/GetAllIndexes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllConstraints">
      <soap12:operation soapAction="http://brokerapplication.org/GetAllConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTables">
      <soap12:operation soapAction="http://brokerapplication.org/GetAllTables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTables2">
      <soap12:operation soapAction="http://brokerapplication.org/GetAllTables2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColumnsEmployee">
      <soap12:operation soapAction="http://brokerapplication.org/GetColumnsEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColumnsEmployee2">
      <soap12:operation soapAction="http://brokerapplication.org/GetColumnsEmployee2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ERPIntegrationWS">
    <wsdl:port name="ERPIntegrationWSSoap" binding="tns:ERPIntegrationWSSoap">
      <soap:address location="http://localhost:61058/ERPIntegrationWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ERPIntegrationWSSoap12" binding="tns:ERPIntegrationWSSoap12">
      <soap12:address location="http://localhost:61058/ERPIntegrationWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>