ERPIntegrationWebService/Service References/ERPIntegrationWSReference/ERPIntegrationWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://brokerapplication.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://brokerapplication.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://brokerapplication.org/">
      <s:element name="InsertEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEmployeeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmployeeResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployeeResponse">
        <s:complexType />
      </s:element>
      <s:element name="SearchEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchEmployeeResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeAndMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeAndMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeAndMetaDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeAndRelatives">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeAndRelativesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeAndRelativesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSickEmployee">
        <s:complexType />
      </s:element>
      <s:element name="GetSickEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSickEmployeeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMostSickEmployee">
        <s:complexType />
      </s:element>
      <s:element name="GetMostSickEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMostSickEmployeeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllKeys">
        <s:complexType />
      </s:element>
      <s:element name="GetAllKeysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllKeysResult" type="tns:ArrayOfSysObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSysObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SysObject" nillable="true" type="tns:SysObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SysObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Xtype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEmployee" />
  </wsdl:message>
  <wsdl:message name="InsertEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="SearchEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:SearchEmployee" />
  </wsdl:message>
  <wsdl:message name="SearchEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:SearchEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAndMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeAndMetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAndMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeAndMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAndRelativesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeAndRelatives" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAndRelativesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeAndRelativesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSickEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSickEmployee" />
  </wsdl:message>
  <wsdl:message name="GetSickEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSickEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetMostSickEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetMostSickEmployee" />
  </wsdl:message>
  <wsdl:message name="GetMostSickEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetMostSickEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllKeysSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllKeys" />
  </wsdl:message>
  <wsdl:message name="GetAllKeysSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllKeysResponse" />
  </wsdl:message>
  <wsdl:portType name="ERPIntegrationWSSoap">
    <wsdl:operation name="InsertEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserts new employee</wsdl:documentation>
      <wsdl:input message="tns:InsertEmployeeSoapIn" />
      <wsdl:output message="tns:InsertEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates employee</wsdl:documentation>
      <wsdl:input message="tns:UpdateEmployeeSoapIn" />
      <wsdl:output message="tns:UpdateEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes employee</wsdl:documentation>
      <wsdl:input message="tns:DeleteEmployeeSoapIn" />
      <wsdl:output message="tns:DeleteEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows a specific employee</wsdl:documentation>
      <wsdl:input message="tns:SearchEmployeeSoapIn" />
      <wsdl:output message="tns:SearchEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndMetaData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all employees and metadata</wsdl:documentation>
      <wsdl:input message="tns:GetEmployeeAndMetaDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeAndMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndRelatives">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all employees and relatives</wsdl:documentation>
      <wsdl:input message="tns:GetEmployeeAndRelativesSoapIn" />
      <wsdl:output message="tns:GetEmployeeAndRelativesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSickEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all sick employees</wsdl:documentation>
      <wsdl:input message="tns:GetSickEmployeeSoapIn" />
      <wsdl:output message="tns:GetSickEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMostSickEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows most sick employees</wsdl:documentation>
      <wsdl:input message="tns:GetMostSickEmployeeSoapIn" />
      <wsdl:output message="tns:GetMostSickEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllKeys">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Shows all Keys</wsdl:documentation>
      <wsdl:input message="tns:GetAllKeysSoapIn" />
      <wsdl:output message="tns:GetAllKeysSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ERPIntegrationWSSoap" type="tns:ERPIntegrationWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEmployee">
      <soap:operation soapAction="http://brokerapplication.org/InsertEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://brokerapplication.org/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://brokerapplication.org/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchEmployee">
      <soap:operation soapAction="http://brokerapplication.org/SearchEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndMetaData">
      <soap:operation soapAction="http://brokerapplication.org/GetEmployeeAndMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndRelatives">
      <soap:operation soapAction="http://brokerapplication.org/GetEmployeeAndRelatives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSickEmployee">
      <soap:operation soapAction="http://brokerapplication.org/GetSickEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostSickEmployee">
      <soap:operation soapAction="http://brokerapplication.org/GetMostSickEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllKeys">
      <soap:operation soapAction="http://brokerapplication.org/GetAllKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ERPIntegrationWSSoap12" type="tns:ERPIntegrationWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEmployee">
      <soap12:operation soapAction="http://brokerapplication.org/InsertEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap12:operation soapAction="http://brokerapplication.org/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap12:operation soapAction="http://brokerapplication.org/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchEmployee">
      <soap12:operation soapAction="http://brokerapplication.org/SearchEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndMetaData">
      <soap12:operation soapAction="http://brokerapplication.org/GetEmployeeAndMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAndRelatives">
      <soap12:operation soapAction="http://brokerapplication.org/GetEmployeeAndRelatives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSickEmployee">
      <soap12:operation soapAction="http://brokerapplication.org/GetSickEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostSickEmployee">
      <soap12:operation soapAction="http://brokerapplication.org/GetMostSickEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllKeys">
      <soap12:operation soapAction="http://brokerapplication.org/GetAllKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ERPIntegrationWS">
    <wsdl:port name="ERPIntegrationWSSoap" binding="tns:ERPIntegrationWSSoap">
      <soap:address location="http://localhost:61058/ERPIntegrationWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ERPIntegrationWSSoap12" binding="tns:ERPIntegrationWSSoap12">
      <soap12:address location="http://localhost:61058/ERPIntegrationWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>